<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.audit.mapper.AuditMainMapper">
    
    <resultMap type="AuditMain" id="AuditMainResult">
        <result property="id"    column="id"    />
        <result property="projectName"    column="project_name"    />
        <result property="inputBy"    column="input_by"    />
        <result property="inputDate"    column="input_date"    />
        <result property="rectificationDeadline"    column="rectification_deadline"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="rectificationOrgId"    column="rectification_org_id"    />
        <result property="rectificationOrgName"    column="rectification_org_name"    />
        <result property="issueCount"    column="issue_count"    />
        <result property="issueNum"    column="issue_num"    />
        <result property="issueAmount"    column="issue_amount"    />
        <result property="rectifiedIssueCount"    column="rectified_issue_count"    />
        <result property="rectifiedIssueNum"    column="rectified_issue_num"    />
        <result property="rectifiedIssueAmount"    column="rectified_issue_amount"    />

    </resultMap>

    <resultMap id="AuditMainAuditIssueResult" type="AuditMain" extends="AuditMainResult">
        <collection property="auditIssueList" ofType="AuditIssue" column="id" select="selectAuditIssueList" />
    </resultMap>

    <resultMap type="AuditIssue" id="AuditIssueResult">
        <result property="id"    column="id"    />
        <result property="auditMainId"    column="audit_main_id"    />
        <result property="issueType"    column="issue_type"    />
        <result property="issueDescription"    column="issue_description"    />
        <result property="issueStatus"    column="issue_status"    />
        <result property="rectificationMeasure"    column="rectification_measure"    />
        <result property="rectificationResult"    column="rectification_result"    />
        <result property="supportMaterials"    column="support_materials"    />
        <result property="create_time"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="issueCount"    column="issue_count"    />
        <result property="issueNum"    column="issue_num"    />
        <result property="issueAmount"    column="issue_amount"    />
        <result property="rectifiedIssueCount"    column="rectified_issue_count"    />
        <result property="rectifiedIssueNum"    column="rectified_issue_num"    />
        <result property="rectifiedIssueAmount"    column="rectified_issue_amount"    />
    </resultMap>

    <sql id="selectAuditMainVo">
        select id, project_name, input_by, input_date, rectification_deadline, create_by, update_by, create_time, update_time, is_deleted, rectification_org_id, rectification_org_name, issue_count, issue_num, issue_amount,
            rectified_issue_count, rectified_issue_num, rectified_issue_amount from audit_main
    </sql>

    <select id="selectAuditMainList" parameterType="AuditMain" resultMap="AuditMainResult">
        <include refid="selectAuditMainVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="rectificationOrgId != null "> and rectification_org_id = #{rectificationOrgId}</if>
        </where>
    </select>
    
    <select id="selectAuditMainById" parameterType="Long" resultMap="AuditMainAuditIssueResult">
        select id, project_name, input_by, input_date, rectification_deadline, create_by, update_by, create_time, update_time, is_deleted, rectification_org_id, rectification_org_name
        from audit_main
        where id = #{id}
    </select>

    <select id="selectAuditIssueList" resultMap="AuditIssueResult">
        select id, audit_main_id, issue_type, issue_description, issue_status, rectification_measure, rectification_result, support_materials, create_at, update_at, is_deleted
        from audit_issue
        where audit_main_id = #{audit_main_id}
    </select>

    <insert id="insertAuditMain" parameterType="AuditMain" useGeneratedKeys="true" keyProperty="id">
        insert into audit_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="inputBy != null">input_by,</if>
            <if test="inputDate != null">input_date,</if>
            <if test="rectificationDeadline != null">rectification_deadline,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="rectificationOrgId != null">rectification_org_id,</if>
            <if test="rectificationOrgName != null and rectificationOrgName != ''">rectification_org_name,</if>
            <if test="issueCount != null">issue_count,</if>
            <if test="issueNum != null">issue_num,</if>
            <if test="issueAmount != null">issue_amount,</if>
            <if test="rectifiedIssueCount != null">rectified_issue_count,</if>
            <if test="rectifiedIssueNum != null">rectified_issue_num,</if>
            <if test="rectifiedIssueAmount != null">rectified_issue_amount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="inputBy != null">#{inputBy},</if>
            <if test="inputDate != null">#{inputDate},</if>
            <if test="rectificationDeadline != null">#{rectificationDeadline},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="rectificationOrgId != null">#{rectificationOrgId},</if>
            <if test="rectificationOrgName != null and rectificationOrgName != ''">#{rectificationOrgName},</if>
            <if test="issueCount != null">#{issueCount},</if>
            <if test="issueNum != null">#{issueNum},</if>
            <if test="issueAmount != null">#{issueAmount},</if>
            <if test="rectifiedIssueCount != null">#{rectifiedIssueCount},</if>
            <if test="rectifiedIssueNum != null">#{rectifiedIssueNum},</if>
            <if test="rectifiedIssueAmount != null">#{rectifiedIssueAmount},</if>
         </trim>
    </insert>

    <insert id="insertAuditIssue" parameterType="AuditIssue" useGeneratedKeys="true" keyProperty="id">
        insert into audit_issue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="auditMainId != null and auditMainId != ''">audit_main_id,</if>
            <if test="issueType != null">issue_type,</if>
            <if test="issueDescription != null">issue_description,</if>
            <if test="issueStatus != null">issue_status,</if>
            <if test="rectificationMeasure != null">rectification_measure,</if>
            <if test="rectificationResult != null">rectification_result,</if>
            <if test="supportMaterials != null">support_materials,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="issueCount != null">issue_count,</if>
            <if test="issueNum != null">issue_num,</if>
            <if test="issueAmount != null">issue_amount,</if>
            <if test="rectifiedIssueCount != null">rectified_issue_count,</if>
            <if test="rectifiedIssueNum != null">rectified_issue_num,</if>
            <if test="rectifiedIssueAmount != null">rectified_issue_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="auditMainId != null and auditMainId != ''">#{auditMainId},</if>
            <if test="issueType != null">#{issueType},</if>
            <if test="issueDescription != null">#{issueDescription},</if>
            <if test="issueStatus != null">#{issueStatus},</if>
            <if test="rectificationMeasure != null">#{rectificationMeasure},</if>
            <if test="rectificationResult != null">#{rectificationResult},</if>
            <if test="supportMaterials != null">#{supportMaterials},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="issueCount != null">#{issueCount},</if>
            <if test="issueNum != null">#{issueNum},</if>
            <if test="issueAmount != null">#{issueAmount},</if>
            <if test="rectifiedIssueCount != null">#{rectifiedIssueCount},</if>
            <if test="rectifiedIssueNum != null">#{rectifiedIssueNum},</if>
            <if test="rectifiedIssueAmount != null">#{rectifiedIssueAmount},</if>
        </trim>
    </insert>

    <update id="updateAuditMain" parameterType="AuditMain">
        update audit_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="inputBy != null">input_by = #{inputBy},</if>
            <if test="inputDate != null">input_date = #{inputDate},</if>
            <if test="rectificationDeadline != null">rectification_deadline = #{rectificationDeadline},</if>
            <if test="createBy != null">created_by = #{createBy},</if>
            <if test="updateBy != null">updated_by = #{updateBy},</if>
            <if test="createTime != null">created_at = #{createTime},</if>
            <if test="updateTime != null">updated_at = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="rectificationOrgId != null">rectification_org_id = #{rectificationOrgId},</if>
            <if test="rectificationOrgName != null and rectificationOrgName != ''">rectification_org_name = #{rectificationOrgName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAuditMainById" parameterType="Long">
        delete from audit_main where id = #{id}
    </delete>

    <delete id="deleteAuditMainByIds" parameterType="String">
        delete from audit_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteAuditIssueByAuditMainIds" parameterType="String">
        delete from audit_issue where audit_main_id in 
        <foreach item="auditMainId" collection="array" open="(" separator="," close=")">
            #{auditMainId}
        </foreach>
    </delete>

    <delete id="deleteAuditIssueByAuditMainId" parameterType="Long">
        delete from audit_issue where audit_main_id = #{auditMainId}
    </delete>

    <insert id="batchAuditIssue">
        insert into audit_issue( id, audit_main_id, issue_type, issue_description, issue_status, due_date, rectification_measure, rectification_result, support_materials, create_time, update_time, is_deleted) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.auditMainId}, #{item.issueType}, #{item.issueDescription}, #{item.issueStatus}, #{item.dueDate}, #{item.rectificationMeasure}, #{item.rectificationResult}, #{item.supportMaterials}, #{item.createTime}, #{item.updateTime}, #{item.isDeleted})
        </foreach>
    </insert>
</mapper>